##########################################################################
# This file, in addition to specifying code ownership, represents the 
# content ownership schema for the TTS Handbook. Teams "own" various pages 
# in the Handbook, and thus they should be the ones to approve changes to 
# their content.
#
# The format for ownership assignments goes like:
# <FILES>                                                                 @gsa-tts/<TEAM>
#
# Where <FILES> represents a pattern to match one or more files and <TEAM>
# represents a team within the gsa-tts GitHub organization that "owns" <FILES>. 
# A list of the teams can be found [here](https://github.com/orgs/gsa-tts/teams).
###########################################################################

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                                               @gsa-tts/GSA-TTS-Handbook-Owners

# Every change that doesn't have a designated code owner should, by default,
# be reviewed by one of the Handbook owners.
*                                                                        @gsa-tts/GSA-TTS-Handbook-Owners

####################################################################
# Terraform & Infrastructure
####################################################################
/terraform/*                                                             @gsa-tts/GSA-TTS-Handbook-Owners
.github/workflows/*                                                      @gsa-tts/GSA-TTS-Handbook-Owners

##################################################################
# TTS Offices
################################################################
## Office of Operations
pages/office-of-operations/*                                             @gsa-tts/Outreach-and-Marketing-Division

## Office of Acquisition
pages/office-of-acquisition/*                                            @gsa-tts/Acquisition-Division

## Office of Solutions
pages/office-of-solutions/*                                              @gsa-tts/Office-of-Solutions

## Centers of Excellence (CoE)
pages/centers-of-excellence/*                                            @gsa-tts/Centers-of-Excellence-Division

## Tools
pages/tools/*                                                            @gsa-tts/Technology-Operations-Division

# Training
pages/training-and-development/*                                         @gsa-tts/Business-Operations-Division

# Travel and Leave
pages/travel-and-leave/*                                                 @gsa-tts/Business-Operations-Division